{% extends 'base.html' %}

{% block content %}

<!-- 問題をdbに追加する -->
<form method="post" action="{% url 'test:create' %}">
  {% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label" style="font-size: 20px;">問題</label>
    <textarea  rows="5" cols="50"  class="form-control" placeholder="問題文を入力してください" name="question"></textarea>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label" style="font-size: 20px;">解答</label>
    <textarea  rows="5" cols="50"  class="form-control" placeholder="解答を入力してください", name="answer"></textarea>
  </div>
  <button type="submit" class="btn btn-primary" style="margin: 0.5rem;">テストを追加</button>
</form>

<!-- メニューに戻る -->
<form method="get" action="{% url 'test:index' %}">
  <button type="submit" class="btn btn-secondary" style="margin: 0.5rem;">戻る</button>
</form>


{% endblock %}