{% extends 'base.html' %}

{% block content %}
<h1 style="font-size: 40px; margin-bottom: 3rem;"><b>テストを作る</b></h1>

<!-- errorメッセージ -->
<!-- {% if form.errors %}
{{ form.errors }}
{% endif %} -->

<!-- 問題をdbに追加する -->
<div id="msg">
  <form method="post" action="{% url 'test:create' %}">
    {% csrf_token %}
    <!-- 科目のプルダウンメニュー -->
    <div class="mb-3">
      <label class="form-label" style="font-size: 25px;">科目<br>
        <input name="subject" placeholder="未分類" type="subject" list="subject" style="font-size: 20px;">
        <datalist id="subject">
          もしくはリストから選択
          <select>
          {% for subject in tests_list %}
            <option value="{{ subject }}"></option>
          {% endfor %}
          </select>
        </datalist>
      </label>
    </div>
    <!-- 問題・解答 -->
    <div class="mb-3">
      <label class="form-label" style="font-size: 25px;">問題</label>
      <textarea  rows="5" cols="50" class="form-control" placeholder="問題文を入力してください" name="question" type="question" v-model="question" style="font-size: 20px;"></textarea>
      <div v-if="check_que" style="color: red;">問題を入力してください</div>
    </div>
    <div class="mb-3">
      <label class="form-label" style="font-size: 25px;">解答</label>
      <textarea  rows="5" cols="50" class="form-control" placeholder="解答を入力してください" name="answer" type="answer" v-model="answer" style="font-size: 20px;"></textarea>
      <div v-if="check_ans" style="color: red;">解答を入力してください</div>
    </div>
    <!-- 追加ボタン -->
    <button type="submit" :disabled="!sendable" class="btn btn-primary" style="margin: 0.5rem; font-size: 25px;">テストを追加</button>
  </form>
</div>

<!-- メニューに戻る -->
<form method="get" action="{% url 'test:index' %}">
  <button type="submit" class="btn btn-secondary" style="margin: 0.5rem; font-size: 25px;">戻る</button>
</form>

{% endblock content %}

{% block cdn %}
  <!-- vue.js -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
{% endblock cdn %}

{% block script %}
  <script>
    new Vue({
      el: '#msg',
      delimiters: ['[[', ']]'],
      data: {
        question: '',
        answer: '',
      },
      computed: {
        /* フォームバリデーション */
        check_que: function () {
          return this.question.length < 1;
        },
        check_ans: function(){
          return this.answer.length < 1;
        },
        /* 更新ボタン有効化 */
        sendable: function() {
          return this.question.length > 0 && this.answer.length >0;
        },
      },
    })
  </script>
{% endblock script %}
