{% extends 'base.html' %}

{% block content %}
<h1 style="font-size: 40px; margin-bottom: 3rem;"><b>テストする</b></h1>

<!-- メニューに戻る -->
<form method="get" action="{% url 'test:index' %}">
  <button type="submit" class="btn btn-secondary" style="font-size: 20px;">戻る</button>
</form>

<!-- 初期画面は非表示 -->
<div id="show">
  <!-- フィルタリング -->
  <div style="margin: 10px;">
    <div style="font-size: 25px;">表示項目</div>
    <select style="font-size: 20px;" @change="detectChange">
      <option value="全て" selected>全て</option>
      {% for subject in subjects %}
        {% if subject == "" %}
          <option value="">未分類</option>
        {% else %}
          <option value="{{ subject }}">{{ subject }}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>

  <!-- 問題部分 -->
  <div class="card" style="margin: 1rem; padding: 10px;">
    <h5 class="card-header">
      <div style="font-size: 25px;">問題</div>
      <div><span class="badge bg-secondary">[[ tests[0].subject ]]</span></div>
      <div style="text-align: right; font-size: 15px;">正答率：[[ tests[0].percent ]]%</div>
    </h5>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text" style="font-size: 20px;">[[ tests[0].que ]]</p>
    </div>
  </div>

  <!-- 解答部分 -->
  <div v-show="!isActive">
    <div class="card" style="margin: 1rem; padding: 10px;">
      <h5 class="card-header" style="font-size: 25px;">解答</h5>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text" style="color: red; font-size: 20px;">[[ tests[0].ans ]]</p>
      </div>
      <p class="info">
        正答率：[[ tests[0].percent ]]%<br>
        出題数：[[ tests[0].total ]]
      </p>
      <form method="post" action="{%url 'test:exam' %}">
        {% csrf_token %}
        <input type="hidden" name="test_id" :value="[[ tests[0].id ]]">
        <button type="submit" class="btn btn-primary" name="correct" style="font-size: 20px;">正解</button>
        <button type="submit" class="btn btn-danger" name="uncorrect" style="font-size: 20px;">不正解</button>
      </form>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" @click="changeShow" style="font-size: 25px;">解答を見る</button>
</div>


{{ tests_list|json_script:"tests_list" }}

{% block cdn %}
  <!-- vue cdn -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
{% endblock cdn %}

{% block script %}
<script>
  //DjangoからのデータをJSON形式で受け取る
  var testList = JSON.parse(document.getElementById('tests_list').textContent);

  new Vue({
    el: '#show',
    delimiters: ['[[', ']]'],
    data: {
      isActive: true,
      tests: testList,
    },
    methods: {
      /* テスト画面で解答を表示させる処理 */
      changeShow: function() {
        this.isActive = !this.isActive;
        console.log(this.isActive);
      },
      /* プルダウンメニューと同期させる処理 */
      detectChange: function(e) {
        /* 初期化 */
        this.tests = [];

        //プルダウンの値を確認する
        console.log(e.target.value);

        //フィルタを掛けてデータを抽出する
        for(let i=0;i<testList.length;i++){
          if(e.target.value=== '全て'){
            this.tests.push(testList[i]);
          }else if(e.target.value === testList[i].subject){
            this.tests.push(testList[i]);
          }
        }
      },
    },
  })
</script>
{% endblock script %}

{% endblock %}