{% extends 'base.html' %}

{% block content %}


<h1 style="font-size: 40px; margin-bottom: 1rem;"><b>登録した問題</b></h1>

<!-- メニューに戻る -->
<form method="get" action="{% url 'test:index' %}">
  <button type="submit" class="btn btn-secondary" style="font-size: 20px; margin-bottom: 2rem;">戻る</button>
</form>

<div id="popup">
  <!-- 問題検索 -->
  <div class="card" style="margin: 5% 0; border: 2px solid; border-color: gray;">
    <div class="card-header">
      <div>
        <label class="form-label" style="text-align: center; font-size: 25px; font-weight: bold; color: cadetblue;">問題検索</label>
        <div style="display: flex;">
          <input class="SearchTest" id="que" name="que" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success mt-2" type="button" onclick="search_tests()" style="font-size: 20px;">検索</button>
        </div>
      </div>
    </div>
    <div class="card-body" style="background-color: #fcfcfc;">
      <div class="testcard">
        <ul v-for="TEST, index in TESTS">
          <div class="card box" style="width: 23rem; margin: 5px; text-align: left;">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <span class="badge bg-secondary">[[TEST.subject]]</span>
                </div>
                <div class="col">
                  <span class="badge bg-light text-dark">正答率：[[TEST.percent]]%</span>
                </div>
              </div>
              <p class="card-text">[[ TEST.que ]]</p>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" :data-bs-target="'#Modal'+String(index)">
                <img src="../static/img/settings.png" width="25px" >
              </button>
            </div>
          </div>
      
          <!-- Modal -->
          <div class="modal fade" :id="'Modal'+String(index)" tabindex="-1" aria-labelledby="testModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="testModalLabel">テストの詳細（科目：[[TEST.subject]]）</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-body" style="text-align: left;">
                  <h5>問題</h5>
                  [[TEST.que]]
                  <h5>解答</h5>
                  <div style="color: red;">[[TEST.ans]]</div>
                  <h5>記録</h5>
                  正答率：[[TEST.percent]]%<br>
                  総出題回数：[[TEST.total]]
                </div>
      
                <div class="modal-footer">
                  <form method="post" action="{% url 'test:history' %}">
                    {% csrf_token %}
                    <input type="hidden" name="test_id" :value="[[ TEST.id ]]">
                    <div>
                      <label class="form-label" style="font-size: 25px;">科目</label><br>
                      <select style="font-size: 20px;" v-model="TEST.subject" name="subject" type="subject">
                        <option value="全て">全て</option>
                        <option v-for="subject, index in subjects" :value="subject.subject">[[ subject.subject_name ]]</option>
                      </select>
                    </div>
                    <div class="container">
                      <div class="row">
                        <div class="col">
                          <h5>問題</h5>
                          <textarea rows="5" cols="30" name="question" v-model="TEST.que" placeholder="問題文を入力してください" style="font-size: 20px;"></textarea>
                          <!-- フォームバリデーション -->
                          <!-- v-model="question"
                          <div v-if="check_que" style="color: red;">問題を入力してください</div> -->
                        </div>
                        <div class="col">
                          <h5>解答</h5>
                          <textarea rows="5" cols="30" name="answer" v-model="TEST.ans" placeholder="解答を入力してください" style="font-size: 20px;"></textarea>
                          <!-- フォームバリデーション -->
                          <!-- v-model="answer"
                          <div v-if="check_ans" style="color: red;">解答を入力してください</div> -->
                        </div>
                      </div>
                    </div>
                    <!-- 送信ボタン -->
                    <button type="submit" class="btn btn-primary" name="update" style="margin: 0.3rem; font-size: 20px;">更新</button>
                      <!-- フォームバリデーション -->
                      <!-- :disabled="!sendable" -->
                    <button type="submit" class="btn btn-danger" name="delete" style="margin: 0.3rem; font-size: 20px;">削除</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
  
  <!-- フィルタリング -->
  <div style="margin: 10px;">
    <div style="font-size: 25px; margin: 20px 0 10px 0; font-weight: bold; color: cadetblue;">テスト一覧</div>
    <select style="font-size: 20px;" @change="detectChange" v-model="selected">
      <option value="全て">全て</option>
      <option v-for="subject, index in subjects" :value="subject.subject">[[ subject.subject_name ]]</option>
    </select>
  </div>

  <div class="testcard">
    <div v-for="test, index in tests">
      <div class="card box" style="width: 23rem; margin: 5px; text-align: left;">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <span class="badge bg-secondary">[[test.subject]]</span>
            </div>
            <div class="col">
              <span class="badge bg-light text-dark">正答率：[[test.percent]]%</span>
            </div>
          </div>
          <p class="card-text">[[ test.que ]]</p>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" :data-bs-target="'#testModal'+String(index)">
            <img src="../static/img/settings.png" width="25px" >
          </button>
        </div>
      </div>
  
      <!-- Modal -->
      <div class="modal fade" :id="'testModal'+String(index)" tabindex="-1" aria-labelledby="testModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="testModalLabel">テストの詳細（科目：[[test.subject]]）</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <div class="modal-body" style="text-align: left;">
              <h5>問題</h5>
              [[test.que]]
              <h5>解答</h5>
              <div style="color: red;">[[test.ans]]</div>
              <h5>記録</h5>
              正答率：[[test.percent]]%<br>
              総出題回数：[[test.total]]
            </div>
  
            <div class="modal-footer">
              <form method="post" action="{% url 'test:history' %}">
                {% csrf_token %}
                <input type="hidden" name="test_id" :value="[[ test.id ]]">
                <div>
                  <label class="form-label" style="font-size: 25px;">科目</label><br>
                  <select style="font-size: 20px;" v-model="test.subject" name="subject" type="subject">
                    <option value="全て">全て</option>
                    <option v-for="subject, index in subjects" :value="subject.subject">[[ subject.subject_name ]]</option>
                  </select>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <h5>問題</h5>
                      <textarea rows="5" cols="30" name="question" v-model="test.que" placeholder="問題文を入力してください" style="font-size: 20px;"></textarea>
                      <!-- フォームバリデーション -->
                      <!-- v-model="question"
                      <div v-if="check_que" style="color: red;">問題を入力してください</div> -->
                    </div>
                    <div class="col">
                      <h5>解答</h5>
                      <textarea rows="5" cols="30" name="answer" v-model="test.ans" placeholder="解答を入力してください" style="font-size: 20px;"></textarea>
                      <!-- フォームバリデーション -->
                      <!-- v-model="answer"
                      <div v-if="check_ans" style="color: red;">解答を入力してください</div> -->
                    </div>
                  </div>
                </div>
                <!-- 送信ボタン -->
                <button type="submit" class="btn btn-primary" name="update" style="margin: 0.3rem; font-size: 20px;">更新</button>
                  <!-- フォームバリデーション -->
                  <!-- :disabled="!sendable" -->
                <button type="submit" class="btn btn-danger" name="delete" style="margin: 0.3rem; font-size: 20px;">削除</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ tests_list|json_script:"tests_list" }}
{{ subject_list|json_script:"subject_list" }}

{% endblock content%}

{% block cdn %}
  <!-- axios.js -->
  <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
  <!-- vue.js -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-js-modal@1.3.31/dist/index.min.js"></script>
  <!-- css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-js-modal@1.3.31/dist/styles.css">
{% endblock cdn %}

{% block script %}
<script>
  async function search_tests(){
    var que = await document.getElementById('que').value;
    
    axios.post("{% url 'rest_api:test' %}", {
      'que': que
    })
    .then(function(response){
      //console.log(response.data.tests);
      TESTS.splice(0)
      for(const test of response.data.tests){
        console.log(test);
        TESTS.push(test);
      }
    })
    .catch(function(error){
      console.log(error);
    });
  }
 
  //DjangoからのデータをJSON形式で受け取る
  var testList = JSON.parse(document.getElementById('tests_list').textContent);
  var subjectList = JSON.parse(document.getElementById('subject_list').textContent);
  
  var TESTS = [];

  new Vue({
    el: '#popup',
    delimiters: ['[[', ']]'],
    data: {
      TESTS: TESTS,
      subjects: subjectList,
      selected: '',
      // question: '',
      // answer: '',
      tests: testList,
    },
    /* ページ読み込み時に実行される部分 */
    mounted: function(){
      //Cookieを全て取得
      var cookies = document.cookie;

      //取得したCookieを分割する
      var cookiesArray = cookies.split(';');
      var cookie = -1;
      for(var c of cookiesArray){
        var cArray = c.split('=');
        if(cArray[0] == 'pulldown'){
          //console.log(cArray);
          cookie = cArray[1];
        }
      }
      //確認部分--指定したidの後にCookieの内容を表示する--
      /* let e = document.getElementById('###');
      e.insertAdjacentHTML('afterend', '<p>' + document.cookie + '</p>');
      e.insertAdjacentHTML('afterend', '<p>' + cookie + '</p>'); */

      /* プルダウンの初期値設定 */
      if(cookie === -1){
        this.selected = '全て';
      }else{
        this.selected = cookie;
      }

      this.tests = [];
      //フィルタを掛けてデータを抽出する
      for(let i=0;i<testList.length;i++){
        if(this.selected=== '全て'){
          this.tests.push(testList[i]);
        }else if(this.selected === testList[i].subject){
          this.tests.push(testList[i]);
        }
      }
    },
    methods: {
      /* プルダウンメニューと同期させる処理 */
      detectChange: function(e) {
        /* 初期化 */
        this.tests = [];

        //プルダウンの値を確認する
        //console.log(e.target.value);

        //cookieにプルダウンの値を登録する（有効期限180秒）
        document.cookie = 'pulldown=' + e.target.value + ';max-age=180';

        //フィルタを掛けてデータを抽出する
        for(let i=0;i<testList.length;i++){
          if(e.target.value=== '全て'){
            this.tests.push(testList[i]);
          }else if(e.target.value === testList[i].subject){
            this.tests.push(testList[i]);
          }
        }
      },
    },
    computed: {
      // /* フォームバリデーション */
      // check_que: function () {
      //   console.log(this.question.length);
      //   return this.question.length < 1;
      // },
      // check_ans: function(){
      //   return this.answer.length < 1;
      // },
      // /* 更新ボタン有効化 */
      // sendable() {
      //   return this.question.length > 0 && this.answer.length >0
      // },
    },
  })



  /*
  <div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Collapsible Group Item #1
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  */


</script>
{% endblock script %}
