{% extends 'base.html' %}

{% block content %}
<div>
  <label class="form-label">問題検索</label>
  <input class="form-control" id="que" name="que" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success mt-2" type="button" onclick="search_tests()">検索</button>
</div>

<div id="search_test">
  <ul v-for="test in tests">
    ([[ test.id ]])
    ([[test.que]])
    ([[test.ans]])
  </ul>
</div>

<h1 style="font-size: 40px; margin-bottom: 3rem;"><b>登録した問題</b></h1>

<!-- メニューに戻る -->
<form method="get" action="{% url 'test:index' %}">
  <button type="submit" class="btn btn-secondary" style="font-size: 20px;">戻る</button>
</form>

<div  id="popup">
  <!-- フィルタリング -->
  <div style="margin: 10px;">
    <div style="font-size: 25px;">表示項目</div>
    <select style="font-size: 20px;" @change="detectChange">
      <option value="全て" selected>全て</option>
      {% for subject in subjects %}
        {% if subject != "" %}
          <option value="{{ subject }}">{{ subject }}</option>
        {% endif %}
      {% endfor %}
      <option value="">未分類</option>
    </select>
  </div>


  <div class="testcard">
    <div v-for="test, index in tests">
      <div class="card box" style="width: 23rem; margin: 5px; text-align: left;">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <span class="badge bg-secondary">[[test.subject]]</span>
            </div>
            <div class="col">
              <span class="badge bg-light text-dark">正答率：[[test.percent]]%</span>
            </div>
          </div>
          <p class="card-text">[[ test.que ]]</p>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" :data-bs-target="'#testModal'+String(index)">
            <img src="../static/img/settings.png" width="25px" >
          </button>
        </div>
      </div>
  
      <!-- Modal -->
      <div class="modal fade" :id="'testModal'+String(index)" tabindex="-1" aria-labelledby="testModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="testModalLabel">テストの詳細（科目：[[test.subject]]）</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <div class="modal-body" style="text-align: left;">
              <h5>問題</h5>
              [[test.que]]
              <h5>解答</h5>
              <div style="color: red;">[[test.ans]]</div>
              <h5>記録</h5>
              正答率：[[test.percent]]%<br>
              総出題回数：[[test.total]]
            </div>
  
            <div class="modal-footer">
              <form method="post" action="{% url 'test:history' %}">
                {% csrf_token %}
                <input type="hidden" name="test_id" :value="[[ test.id ]]">
                <div>
                  <label class="form-label" style="font-size: 25px;">科目</label><br>
                  <select name="subject" type="subject" style="font-size: 20px;">
                  {% for subject in subjects %}
                    {% if subject == "" %}
                      <option>未分類</option>
                    {% else %}
                      <option>{{ subject }}</option>
                    {% endif %}
                  {% endfor %}
                  </select>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <h5>問題</h5>
                      <textarea rows="5" cols="30" name="question" v-model="question" placeholder="問題文を入力してください" style="font-size: 20px;"></textarea>
                      <div v-if="check_que" style="color: red;">問題を入力してください</div>
                    </div>
                    <div class="col">
                      <h5>解答</h5>
                      <textarea rows="5" cols="30" name="answer" v-model="answer" placeholder="解答を入力してください" style="font-size: 20px;"></textarea>
                      <div v-if="check_ans" style="color: red;">解答を入力してください</div>
                    </div>
                  </div>
                </div>
                <!-- 送信ボタン -->
                <button type="submit" :disabled="!sendable" class="btn btn-primary" name="update" style="margin: 0.3rem; font-size: 20px;">更新</button>
                <button type="submit" class="btn btn-danger" name="delete" style="margin: 0.3rem; font-size: 20px;">削除</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
{{ tests_list|json_script:"tests_list" }}

{% endblock content%}

{% block cdn %}
  <!-- axios.js -->
  <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
  <!-- vue.js -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
{% endblock cdn %}

{% block script %}
<script>
  async function search_tests(){
    var que = await document.getElementById('que').value;
    
    axios.post("{% url 'rest_api:test' %}", {
      'que': que
    })
    .then(function(response){
      //console.log(response.data.tests);
      tests.splice(0)
      for(const test of response.data.tests){
        console.log(test)
        tests.push(test)
      }
    })
    .catch(function(error){
      console.log(error);
    });
  }
  
  var tests = []

  var vue = new Vue({
    delimiters: ['[[', ']]'],
    el: '#search_test',
    data: {
      tests: tests
    }
  });
</script>

<script>
  //DjangoからのデータをJSON形式で受け取る
  var testList = JSON.parse(document.getElementById('tests_list').textContent);

  new Vue({
    el: '#popup',
    delimiters: ['[[', ']]'],
    data: {
      question: '',
      answer: '',
      tests: testList,
    },
    methods: {
      /* プルダウンメニューと同期させる処理 */
      detectChange: function(e) {
        /* 初期化 */
        this.tests = [];

        //プルダウンの値を確認する
        //console.log(e.target.value);

        //フィルタを掛けてデータを抽出する
        for(let i=0;i<testList.length;i++){
          if(e.target.value=== '全て'){
            this.tests.push(testList[i]);
          }else if(e.target.value === testList[i].subject){
            this.tests.push(testList[i]);
          }
        }
      },
    },
    computed: {
      /* フォームバリデーション */
      check_que: function () {
        return this.question.length < 1;
      },
      check_ans: function(){
        return this.answer.length < 1;
      },
      /* 更新ボタン有効化 */
      sendable() {
        return this.question.length > 0 && this.answer.length >0
      },
    },
  })



  /*
  <div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Collapsible Group Item #1
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  */


</script>
{% endblock script %}
