{% extends 'base.html' %}

{% block content %}

<!-- 問題をdbに追加する -->
<form method="post" action="/">
  {% csrf_token %}
  <input type="text", placeholder="問題", name="question">
  <input type="text", placeholder="解答", name="answer">
  <button type="submit">テストを追加</button>
</form>


<div>
  {% for test in tests_list %}
  <ul>
      <li>{{ test.que }}</li>
      <li>{{ test.ans }}</li>
      <li>総出題回数：{{ test.total }}</li>
      <li>正解回数：{{ test.correct }}</li>
  </ul>
  {% endfor %}
</div>
{% endblock %}