{% extends 'base.html' %}

{% block content %}
<h1 style="font-size: 40px; margin-bottom: 3rem;"><b>問題を修正する</b></h1>

<!-- メニューに戻る -->
<form method="get" action="{% url 'test:history' %}">
  <button type="submit" class="btn btn-secondary" style="font-size: 20px;">戻る</button>
</form>

<!-- 選択した問題文を表示する -->
<div class="card" style="margin: 1rem; padding: 10px;">
  <h5 class="card-header" style="font-size: 30px;">選択したテストの内容</h5>
  <div class="card-body" style="font-size: 20px;">
    <h5 class="card-title"></h5>
    <p class="card-text">{{ test.que }}</p>
    <p class="card-text">{{ test.ans }}</p>
    <p class="">正答率：{{ percent|floatformat:2 }}%</p><!-- 小数点第二位まで表示する -->
    <p class="card-text">総出題回数：{{ test.total }}</p>
  </div>
</div>
<!-- 更新フォーム -->
<div class="card" style="margin: 1rem; padding: 10px;">
  <h5 class="card-header" style="font-size: 30px;">内容を更新する</h5>
  <form method="post" action="{% url 'test:update' %}">
    {% csrf_token %}
    <input type="hidden" name="test_id" value="{{ test.id }}">
    <div class="container">
      <div class="row">
        <div class="col">
          <p style="font-size: 25px;">問題</p>
          <textarea rows="5" cols="30" name="test_que" placeholder="問題文を入力してください" style="font-size: 20px;"></textarea>
        </div>
        <div class="col">
          <p style="font-size: 25px;">解答</p>
          <textarea rows="5" cols="30" name="test_ans" placeholder="解答を入力してください" style="font-size: 20px;"></textarea>
        </div>
      </div>
    </div>
    <!-- 送信ボタン -->
    <button type="submit" class="btn btn-primary" name="update" style="margin: 0.3rem; font-size: 20px;">更新</button>
    <button type="submit" class="btn btn-danger" name="delete" style="margin: 0.3rem; font-size: 20px;">削除</button>
  </form>
</div>



{% endblock %}