{% extends 'base.html' %}

{% block content %}
<!-- メニューに戻る -->
<form method="get" action="{% url 'test:history' %}">
  <button type="submit" class="btn btn-secondary">戻る</button>
</form>
<h3 style="padding-top: 10px;">選択したテストの内容</h3>
<div>
  <ul>
      <li>{{ test.que }}</li>
      <li>{{ test.ans }}</li>
      <li>総出題回数：{{ test.total }}</li>
      <li>正解回数：{{ test.correct }}</li>
  </ul>
</div>

<h3 style="padding-top: 10px;">内容を更新する</h3>
<form method="post" action="{% url 'test:update' %}">
  {% csrf_token %}
  <input type="hidden" name="test_id" value="{{ test.id }}">
  <div>
    <div>
      <p>問題</p>
      <textarea rows="5" cols="50" name="test_que" placeholder="問題文を入力してください"></textarea>
    </div>
    <div>
      <p>解答</p>
      <textarea rows="5" cols="50" name="test_ans" placeholder="解答を入力してください"></textarea>
    </div>
  </div>
  <!-- 送信ボタン -->
  <button type="submit" class="btn btn-primary" name="update">更新</button>
  <button type="submit" class="btn btn-danger" name="delete">削除</button>
</form>


{% endblock %}