/* login.html */
.UserNum {
    text-align: right;
    font-size: 25px;
}

/* テストの正答率の情報 */
.info {
    font-size: 15px;
}

/* 登録したテスト画面 */
.testcard{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
}
.form-label {
    font-size: 20px;
}

.box{
    position: relative;
    height: 80px;
}
.box button{
    background-color: cadetblue;
    padding: 0;
    position: absolute;
    left: 300px;
    top: -13px;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: cadetblue;
    border-color: black;
    border-radius: 50%;
}

.box button:hover{
    opacity: 70%;
    background-color: cadetblue;
}

/* ポップアップ */
.modal-header, .modal-body {
    padding: 5px 25px;
}
.modal-header {
border-bottom: 1px solid #ddd;
}